.place__website_url-heading{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 0 0 12px;
  padding: 0;
}
