.places {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px;
  grid-row-gap: 32px;
  align-items: start;

}

.places:not(:first-child) {
  margin: 0 148px 80px;
}

.places:first-child {
  margin: 0 148px 80px;
}

.places:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width:1147px) {
  .places {
    display: grid;
    grid-template-columns: 440px 456px;
    grid-column-gap: 32px;
  }

  .places:not(:first-child) {
    margin: 0 48px 80px;
  }

  .places:first-child {
    margin: 0 48px 80px;
  }

  .places:last-child {
    margin-bottom: 92px;
  }

}

@media screen and (max-width:1024px) {
  .places {
    display: grid;
    grid-template-columns: 440px 456px;
    grid-column-gap: 32px;
  }

  .places:not(:first-child) {
    margin: 0 48px 80px;
  }

  .places:first-child {
    margin: 0 48px 80px;
  }

  .places:last-child {
    margin-bottom: 92px;
  }

}

@media screen and (max-width:888px) {
  .places {
    display: grid;
    grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
  }

  .places:not(:first-child) {
    margin: 0 24px 73px;
  }

  .places:first-child {
    margin: 0 24px 73px;
  }

  .places:last-child {
    margin-bottom: 90px;
  }
}


@media screen and (max-width:768px) {
  .places {
    display: grid;
    grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
  }

  .places:not(:first-child) {
    margin: 0 18px 73px;
  }

  .places:first-child {
    margin: 0 18px 73px;
  }

  .places:last-child {
    margin-bottom: 90px;
  }
}

@media screen and (max-width:675px) {
  .places {
    display: flex;
    flex-direction: column;
    max-width: 475px;
    gap: 32px;
    margin: 0 16px;
  }

  .places:not(:first-child) {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .places:first-child {
    margin-bottom: 50px;
  }

  .places:last-child {
    margin-bottom: 66px;
  }
}

@media screen and (max-width:475px) {
  .places {
    display: flex;
    flex-direction: column;
    max-width: 475px;
    gap: 32px;
    margin: 0 0 66px;
  }

  .places:not(:first-child) {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .places:first-child {
    margin-bottom: 50px;
  }

  .places:last-child {
    margin-bottom: 66px;
  }
}

@media screen and (max-width:376px) {
  .places {
    display: flex;
    flex-direction: column;
    max-width: 376px;
    gap: 32px;
    margin: 64px auto 66px;
  }

  .places:not(:first-child) {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .places:first-child {
    margin-bottom: 50px;
  }

  .places:last-child {
    margin-bottom: 66px;
  }
}

@media screen and (max-width:320px) {
  .places {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 32px;
    margin: 64px auto 66px;
  }

  .places:not(:first-child) {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .places:first-child {
    margin-bottom: 50px;
  }

  .places:last-child {
    margin-bottom: 66px;
  }
}