.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 195px;
  padding: 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .cover__subtitle {
    margin: 0 auto 195px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 0 auto 195px;
  }
}

@media screen and (max-width: 888px) {
  .cover__subtitle {
    margin: 0 auto 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 auto 115px;
  }
}

@media screen and (max-width: 475px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto 33px;
  }
}

@media screen and (max-width: 376px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto 33px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto 33px;
  }
}