.cover{
  display: flex;
  background: url(../../../images/cover/cover-trains.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  margin: 0 48px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover{
    max-width: 1024px;
    min-height: 640px;
    width: 100%;
    margin: 0 0 92px;
  }
}
@media screen and (max-width: 768px) {
  .cover{
    max-width: 768px;
    min-height: 480px;
    width: 100%;
    margin: 0 0 88px;
  }
}
@media screen and (max-width: 320px) {
  .cover{
    max-width: 320px;
    min-height: 200px;
    width: 100%;
    margin: 0 0 64px;
  }
}
