.cover {
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 576px) {
  .cover {
    margin: 0 0 70px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 0 0 64px;
  }
}