.place__link {
  text-decoration: underline;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.place__link:hover {
  opacity: 0.8;
}