.footer__item {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media screen and (max-width:1669px) {
    .footer__item:first-child {
        margin-right: 18px;
    }

    .footer__item:not(:first-child) {
        margin-right: 18px;
    }

    .footer__item:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width:1024px) {

    .footer__item:first-child {
        margin-right: 14px;
    }

    .footer__item:not(:first-child) {
        margin-right: 14px;
    }
}

@media screen and (max-width:993px) {

    .footer__item:first-child {
        margin-right: 12px;
    }

    .footer__item:not(:first-child) {
        margin-right: 12px;
    }
}

@media screen and (max-width:678px) {

    .footer__item:not(:first-child) {
        margin: 0;
        margin-bottom: 22px;
    }

    .footer__item:first-child {
        margin: 0;
        margin-bottom: 22px;
    }
}

@media screen and (max-width:475px) {
    .footer__item:not(:first-child) {
        margin-bottom: 33px;
    }

    .footer__item:first-child {
        margin-bottom: 33px;
    }
}

@media screen and (max-width:320px) {
    .footer__item:not(:first-child) {
        margin-bottom: 32px;
    }

    .footer__item:first-child {
        margin-bottom: 32px;
    }
}