.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  width: 100%;
  margin: 92px 48px 24px;
}

@media screen and (max-width:1024px) {
  .footer {
    max-width: 928px;
    width: 100%;
    margin: 0 48px 24px;
  }
}

@media screen and (max-width:768px) {
  .footer {
    max-width: 720px;
    width: 100%;
    margin: 0 24px 24px;
  }
}

@media screen and (max-width:475px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    width: 100%;
    margin: 0 16px 24px;
  }
}

@media screen and (max-width:376px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    width: 100%;
    margin: 0 16px 24px;
  }
}

@media screen and (max-width:320px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    width: 100%;
    margin: 0 16px 24px;
  }
}