.intro{
  max-width: 690px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 442px 148px 92px;
}
@media screen and (max-width:1024px){
  .intro{
  margin: 0 286px 48px 92px;
  }
}
@media screen and (max-width:768px){
  .intro{
    margin: 0 24px 88px ;
  }
}
@media screen and (max-width:320px){
  .intro{
    margin: 0 16px 64px;
  }
}
