.footer__link{
  font-family: 'Inter'Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
  padding-right: 18px;
  transition: all 0.5s ease-out;
  opacity: 1;
}
.footer__link:not(:first-child){
  margin-right: 18px;
}
.footer__link:hover{
  opacity: 0.8;
}
@media screen and (max-width:1024px) {
  .footer__link{
    max-width: 106px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width:768px) {
  .footer__link{
    max-width: 106px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width:320px) {
  .footer__link{
    max-width: 158px;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px;
  }
}
